.root {
	-fx-company-color-dark : #2A7596;
	-fx-company-color-light : #3CB6EB;

}

/*Override classes*/
.tree-table-cell {
	-fx-background-color: null;
	-fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
	-fx-text-fill: -fx-text-background-color;
}

.tab-close-button {
	-fx-opacity : 0;
	-fx-background-color : transparent;

}
.control-buttons-tab {
	-fx-opacity : 0.0;
	-fx-pref-width : 0px;
	-fx-max-width : 0px;
	visibility : false;

}
.tab:selected .tabLabel {
	-fx-fill : -fx-company-color-dark;

}
.progress-bar {
	-fx-box-border: black;
	-fx-accent: blue;
	-fx-indeterminate-bar-animation-time : 3
}
.button {
	-fx-background-color:
			#707070,
			linear-gradient(#fcfcfc, #f3f3f3),
			linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
		-fx-background-insets: 0,1,2;
		-fx-background-radius: 3,2,1;
		-fx-text-fill: black;
		-fx-font-size: 14px;
}
.button:hover {
	-fx-background-color:
				#707070,
				linear-gradient(#f3f3f3,#fcfcfc),
				linear-gradient(#dddddd 50%, #cfcfcf 100%, #f2f2f2 0%, #ebebeb 49%);
			-fx-background-insets: 0,1,2;
			-fx-background-radius: 3,2,1;
			-fx-text-fill: black;
			-fx-font-size: 14px;
}
.toggle-button:hover {
			-fx-background-color:
				#707070,
				linear-gradient(#f3f3f3,#fcfcfc),
				linear-gradient(#dddddd 50%, #cfcfcf 100%, #f2f2f2 0%, #ebebeb 49%);
			-fx-background-insets: 0,1,2;
			-fx-background-radius: 3,2,1;
			-fx-text-fill: black;
}
.tree-cell > .tree-disclosure-node,
.tree-table-row-cell > .tree-disclosure-node {
	-fx-padding: 4 6 4 8;
	-fx-background-color: transparent;
}
.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
	-fx-background-color: -fx-text-background-color;
	-fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
	-fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-cell:expanded > .tree-disclosure-node > .arrow,
.tree-table-row-cell:expanded > .tree-disclosure-node > .arrow {
	-fx-rotate: 90;

}
.tree-cell {
	-fx-indent : 20;

}
.combo-box {
	-fx-border-color : rgb(255,255,255,0.2);
	-fx-border-width : 1px;
}
.list-view .list-cell:selected {
   -fx-background-color : lightgray;

}
.combo-box .list-cell {
	-fx-background-color : white;
	-fx-background-radius: 3,2,1;

}
.combo-box-popup .list-view .list-cell:hover {
	-fx-text-fill : black;
	-fx-background-color : lightgray;

}
.combo-box-popup .list-view .list-cell:selected {
	-fx-text-fill : black;

}
.node .focused .pressed {
	-fx-border-color : black;

}


/*Custom classes*/
.transparentBackground {
	-fx-background-color : transparent;
	-fx-padding : 4px;

}
.delayShutter:selected {
	-fx-background-color : derive(-fx-company-color-light, 50%);
	-fx-background-insets: 0,1,2;
	-fx-background-radius: 3,2,1;
}

/*Matrix tree view*/

.customTreeTableView .tree-table-row-cell:customSelectedState {
	-fx-background-color: #f2f2f2;
	-fx-border-color : #2687fb;
}
.customTreeTableView .tree-table-row-cell:customSelectedState .customScrollPane > .viewport {
	-fx-background-color: #f2f2f2;

}
.customTreeTableView .tree-table-row-cell:customSelectedState .customScrollPane .parametersPane {
	-fx-background-color: #e0e0e0;

}

.simpleItem {
	-fx-border-color : lightgray;
	-fx-border-width : 1 0 1 0;
}
.trueOffItem {
	-fx-background-color : #d0d0d0;

}
.falseOffItem {
	-fx-background-color : transparent;

}


/*Custom Table*/
.correctRow {


}
.incorrectRow {
	-fx-background-color : rgb(255,0,0,0.15);

}
.textFieldVar {
	-fx-background-color : white;

}

/*Correct / Incorrect fields*/
.incorrectField {
	-fx-text-fill : red;

}
.correctField {
	-fx-text-fill : black;

}

/*XPath builder*/
.xpathTreeView .tree-cell:selected {
	-fx-background-color : lightgray;

}
.xpathFindTreeItem {
	-fx-background-color : aquamarine;

}
.foundOneElement {
	-fx-text-fill : rgb(12, 216, 39)

}
.xpathNode {
	-fx-fill : #20b2aa;

}
.xpathAttrName {
	-fx-fill : #8a2be2;

}
.xpathAttrValue {
	-fx-fill : #0000ff

}
.xpathText {
	-fx-fill : black;

}
.xpathRectangle {
	-fx-stroke : white;
	-fx-effect : innershadow(gaussian, black, 1, 1, 0,0);

}
.xpathInspectRectangle {
	-fx-stroke : black;
	-fx-effect : innershadow(gaussian, white, 1, 1, 0,0);
	-fx-stroke-dash-array : 12 6 4 6;
	-fx-stroke-width: 5;
}

/*BorderWrapper*/
.borderWrapperTitle {
	-fx-text-fill : black;

}

/*MatrixFx tab*/
.executingTab {
	-fx-background-color : derived(-fx-company-color-dark, 90%);

}

.matrixFinishedOk {
	-fx-background-color : derived(#4A6E3A, 90%);

}
.matrixFinishedBad {
	-fx-background-color : derived(red, 90%);

}

.boldLabel {
	-fx-font-weight : bold;

}
.obliqueLabel {
	-fx-font-style : oblique;

}
.borderLabel {
	-fx-border-color : red;
	-fx-border-size : 2px;

}
/*Matrix comment*/
.unfocusedTextArea {
	-fx-border-color : transparent;
	-fx-background-color : transparent;
	-fx-border-width : null;

}

/*Console Text*/
.consoleDefaultText {
	-fx-fill : -fx-text-base-color;

}
.consolePausedItem {
	-fx-fill : -fx-company-color-light;

}
.consoleErrorItem {
	-fx-fill : red;

}

/*Sql test*/
.sqlConnectionValid {
	-fx-text-fill : green

}
.sqlConnectionInvalid {
	-fx-text-fill : red;

}

/*Helper*/
.compileFailed {
	-fx-text-fill : red;

}
.evaluateFailed {
	-fx-text-fill : black;

}
.evaluateSuccess {
	-fx-text-fill : green;

}
.expectedClass {
	-fx-background-color : lightgreen;

}

/*Store*/
.notChangeableRow {
	-fx-background-color : rgb(128, 128, 128, 0.3);

}

/*ParametersPane*/


.focusedParameterGridPane {
	-fx-border-color : #2687fb;
}

.focusedEmptyGrid {
	-fx-background-color : gold;

}

/*Alerts*/
.alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
	-fx-graphic: null;

}
/*Wizard*/
.customTableRow:customSelectedState {
	-fx-border-color : #2687fb;

}
.colorMark {
	-fx-background-color : rgba(0, 255, 0, 0.1);

}
.colorQuestion {
	-fx-background-color : rgba(255, 255, 0, 0.1);

}
.colorNotFound {
	-fx-background-color : rgba(255, 0, 0, 0.1);

}
.colorNotFinding {
	-fx-background-color : rgba(128, 128, 128, 0.1);

}
.colorAdd {
	-fx-background-color : rgba(0, 0, 255, 0.1);

}
.colorUpdate {
	-fx-background-color : rgba(0, 0, 255, 0.1);

}

/*Resizable region*/
.resizableRegion {
	-fx-border-width : 0 0 5 0;
	-fx-border-color : -fx-company-color-dark;

}
.resizableRegionHover {
	-fx-border-color : -fx-company-color-light;

}

/*Spread sheet*/
.cell-spreadsheet .table-row-cell {
	-fx-background-color: transparent;

}
.spreadsheet-cell:filled:selected,
.spreadsheet-cell:filled:focused:selected,
.spreadsheet-cell:filled:focused:selected:hover {
	-fx-background-color: #FFFFFF;
	-fx-text-fill: -fx-selection-bar-text;

}
.spreadsheet-cell:hover,
.spreadsheet-cell:filled:focused {
	-fx-background-color: #e5e5e5;
	-fx-background-insets: 0, 0 0 1 0;
}
.spreadsheet-cell{
	-fx-padding: 0 0 0 0.2em;
	-fx-border-color: black;
	-fx-border-width : 0.3px;
	-fx-background-color: -fx-table-cell-border-color,white;
}
VerticalHeader > Label {
	-fx-background-color: -fx-box-border, -fx-inner-border,  linear-gradient(to left, derive(-fx-color,-5%) ,derive(-fx-color,5%));
	-fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
	-fx-font-weight: bold;
	-fx-size: 2em;
	-fx-text-fill: -fx-selection-bar-text;
	-fx-alignment: center;
	-fx-font-style : normal;
}
VerticalHeader > Label.selected {
	-fx-background-color: #2687fb;
	-fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
	-fx-font-weight: bold;
	-fx-size: 2em;
	-fx-text-fill: white;
	-fx-alignment: center;
}
HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected{
	-fx-background-color: #2687fb;
	-fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
	-fx-font-weight: bold;
	-fx-size: 2em;
	-fx-text-fill: white;
	-fx-alignment: center;
}
HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected > .label {
	-fx-text-fill : white;

}
.column-header-background.invisible {
	visibility: hidden;
	-fx-padding: -1em;
}
CellView > .text-input.text-field{
	-fx-padding : 0 0 0 -0.2em;
	-fx-background-color: transparent;
}
.selection-rectangle{
	-fx-fill : transparent;
	-fx-stroke : #2687fb;
	-fx-stroke-width : 2;
}
.startCell {
	-fx-background-position : center center;
	-fx-background-repeat : no-repeat no-repeat;
	-fx-background-size : 12px;
}

/*Supported/Unsupported entries*/
.supportedEntry {
	-fx-text-fill : -fx-company-color-light;

}
.unsupportedEntry {
	-fx-text-fill : red;

}

/*Custom Text Fields*/
.custom-text-field {
	-fx-highlight-fill: derive(-fx-control-inner-background,-20%);
	-fx-highlight-text-fill: -fx-text-inner-color;
	-fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
	-fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
	-fx-background-insets: 0, 1;
	-fx-background-radius: 3, 2;
}
.custom-text-field:right-node-visible {
	-fx-padding: 0.333333em 0 0.333333em 0.583em;

}
.custom-text-field:right-node-visible .customFieldRightPane {
	-fx-padding: 0 3 0 3;

}
.custom-text-field:focused,
.custom-text-field:text-field-has-focus {
	-fx-highlight-fill: -fx-accent;
	-fx-highlight-text-fill: white;
	-fx-background-color:
		-fx-focus-color,
		-fx-control-inner-background,
		-fx-faint-focus-color,
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
	-fx-background-insets: -0.2, 1, -1.4, 3;
	-fx-background-radius: 3, 2, 4, 0;
	-fx-prompt-text-fill: transparent;
}

.customFieldWithButton .customFieldPane {
	-fx-padding: 0 3 0 0;

}
.customFieldWithButton .customFieldPane > .customFieldButton {
	-fx-text-fill : #2A7596;

}
.customFieldWithButton .customFieldPane:hover > .customFieldButton {
	-fx-text-fill : #3CB6EB;

}

/*Custom Area Fields*/
.custom-area-field {
	-fx-highlight-fill: derive(-fx-control-inner-background,-20%);
	-fx-highlight-text-fill: -fx-text-inner-color;
	-fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
	-fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
	-fx-background-insets: 0, 1;
	-fx-background-radius: 3, 2;
}
.custom-area-field:right-node-visible {
	/*-fx-padding: 0.333333em 0 0.333333em 0.583em;*/

}
.custom-area-field:right-node-visible .customAreaRightPane {
	-fx-padding: 0 3 0 3;

}
.custom-area-field:focused,
.custom-area-field:text-field-has-focus {
	-fx-highlight-fill: -fx-accent;
	-fx-highlight-text-fill: white;
	-fx-background-color:
		-fx-focus-color,
		-fx-control-inner-background,
		-fx-faint-focus-color,
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
	-fx-background-insets: -0.2, 1, -1.4, 3;
	-fx-background-radius: 3, 2, 4, 0;
	-fx-prompt-text-fill: transparent;
}

.customAreaWithButton .customAreaPane {
	-fx-padding: 0 3 0 0;

}
.customAreaWithButton .customAreaPane > .customAreaButton {
	-fx-text-fill : #2A7596;

}
.customAreaWithButton .customAreaPane:hover > .customAreaButton {
	-fx-text-fill : #3CB6EB;

}

/*Expression Editor*/
.expressionEditor {
	-fx-padding: 0 3 0 0;

}
.expressionEditor .firstPane > .expressionButton,
.expressionEditor .secondPane > .expressionButton {
	-fx-text-fill : #2A7596;

}
.expressionEditor .firstPane:hover > .expressionButton,
.expressionEditor .secondPane:hover > .expressionButton {
	-fx-text-fill : #3CB6EB;

}

/*Layout builder*/
.selfControl {
	-fx-stroke : white;
	-fx-effect : innershadow(gaussian, black, 1, 1, 0,0);

}
.otherControl {
	-fx-stroke : black;
	-fx-effect : innershadow(gaussian, white, 1, 1, 0,0);

}
.selfControlSelectedLine {
	-fx-stroke : -fx-company-color-light;

}
.otherControlSelectedLine {
	-fx-stroke : -fx-company-color-light;

}
.formulaToggleButton {
	-fx-font : 13 arial;
	-fx-text-alignment:left
}

/*FindPanel*/
.findPanel {
	-fx-background-color : #d3d3d3;

}
.splitPaneHideDivider *.split-pane-divider {
	-fx-padding: 0;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-shape: " ";
}

.notEditableField {
	-fx-opacity: 0.4

}

.browser {
	-fx-padding : 2px;
	-fx-border-width : 2 0 2 0;
	-fx-border-color : white;
}

.auto-complete-popup > .list-view {
	-fx-background-color:
		linear-gradient(to bottom,
			derive(-fx-color,-17%),
			derive(-fx-color,-30%)
		),
		-fx-control-inner-background;
	-fx-background-insets: -1 -2 -1 -1, 0 -1 0 0;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}
.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
	-fx-padding: 4 0 4 5;
	/* No alternate highlighting */
	-fx-background: -fx-control-inner-background;
}
.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
	-fx-background:  -fx-selection-bar-non-focused;
	-fx-background-color:  -fx-background;
}
.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
	-fx-background: -fx-accent;
	-fx-background-color: -fx-selection-bar;
}
.auto-complete-popup > .list-view > .placeholder > .label {
	-fx-text-fill: derive(-fx-control-inner-background,-30%);

}

/*Configuration*/
.fullPathLabel {
	-fx-opacity : 0.5;

}
.fullPathLabel:hover {
	-fx-opacity : 1.0

}
/*Git*/
.gitAddedFile {
	-fx-text-fill : green;

}
.gitAddedFile.table-row-cell {
	-fx-background-color : derive(green, +90%);

}

.gitRemovedFile {
	-fx-text-fill : red;

}
.gitRemovedFile.table-row-cell {
	-fx-background-color : derive(red, +90%);

}
.gitChangedFile {
	-fx-text-fill : -fx-company-color-dark;

}
.gitChangedFile.table-row-cell {
	-fx-background-color : derive(-fx-company-color-dark, +90%)

}
.gitUntrackedFile {
	-fx-text-fill : brown;

}
.gitUntrackedFile.table-row-cell {
	-fx-background-color : brown;

}
.changesLine {
	-fx-background-color : #20b2aa

}
.gitMatchedFile {
	-fx-background-color : rgb(0,255,0,0.1);

}

.gitMergeNoConflict .content{
	-fx-background-color : rgba(0,255,0, 0.3);

}
.gitMergeYourConflict .content{
	-fx-background-color : rgba(255,0,0,0.3);

}
.gitMergeTheirConflict .content {
	-fx-background-color : rgba(0,0,255,0.3);

}
.gitCurrentBranch {
	-fx-background-color : lightgreen;

}

.customTabPane{
	-fx-open-tab-animation: NONE;
	-fx-close-tab-animation: NONE;

}


/*  Images  */

/*MainController*/
/*Toolbar*/
#btnLoadMatrix {
	-fx-graphic : url("icons/loadMatrix.png")

}
#btnNewMatrix {
	-fx-graphic : url("icons/matrixNew.png")

}
#btnSaveDocument {
	-fx-graphic : url("icons/documentSave.png")

}
#btnSaveAsDocument {
	-fx-graphic : url("icons/documentSaveAs.png")

}
#btnOpenMainLog {
	-fx-graphic : url("icons/log.png")

}
#btnShowCalculator {
	-fx-graphic : url("icons/calc.png")

}
#btnUndo  {
	-fx-graphic : url("icons/undo_32.png");

}
#btnRedo {
	-fx-graphic : url("icons/redo_32.png");

}
#splitMenuButtonToolbar {
	-fx-graphic : url("icons/start.png")

}

/*ProjectPane*/
#saveConfiguration {
	-fx-graphic : url("icons/saveConfiguration.png");

}
#reloadConfiguration {
	-fx-graphic : url("icons/refresh.png");

}

/*Scheduler*/
#scheduleBtnStart {
	-fx-graphic : url("icons/start.png")

}
#scheduleBtnStop {
	-fx-graphic : url("icons/stop.png")

}
#scheduleBtnDestroy {
	-fx-graphic : url("icons/destroy.png")

}
#scheduleBtnShowSelected {
	-fx-graphic : url("icons/open.png")

}
#scheduleBtnLoadSeveral {
	-fx-graphic : url("icons/folder.png")

}

/*Matrix tab*/
#matrixBtnStartDefaultClient {
	-fx-graphic : url("icons/stop_small.png")

}
#matrixBtnStopDefaultClient {
	-fx-graphic : url("icons/start_small.png")

}

#matrixBtnStartDefaultApplication {
	-fx-graphic : url("icons/start_small.png")

}
#matrixBtnConnectDefaultApplication {
	-fx-graphic : url("icons/connect_small.png")

}
#matrixBtnStopDefaultApplication {
	-fx-graphic : url("icons/stop_small.png")

}

#matrixBtnFind {
	-fx-graphic : url("icons/find.png")

}
#matrixBtnWatch {
	-fx-graphic : url("icons/watch.png")

}

#matrixBtnStartMatrix {
	-fx-graphic : url("icons/start.png")

}
#matrixBtnStopMatrix {
	-fx-graphic : url("icons/stop.png")

}
#matrixBtnPauseMatrix {
	-fx-graphic : url("icons/pause.png")

}

#matrixBtnStepMatrix {
	-fx-graphic : url("icons/step.png")

}
#matrixBtnShowResult {
	-fx-graphic : url("icons/showResult.png")

}
#matrixToggleTracing {
	-fx-graphic : url("icons/colorOff.png")

}
#matrixToggleTracing:selected {
	-fx-graphic : url("icons/colorOn.png")

}

/*Dictionary tab*/
#dictionaryBtnStartApplication {
	-fx-graphic : url("icons/start_small.png")

}
#dictionaryBtnConnectApplication {
	-fx-graphic : url("icons/connect_small.png")

}
#dictionaryBtnStopApplication {
	-fx-graphic : url("icons/stop_small.png")

}

#dictionaryBtnNewDialog {
	-fx-graphic : url("icons/new.png")

}
#dictionaryBtnDeleteDialog {
	-fx-graphic : url("icons/delete_24.png")

}
#dictionaryBtnCopyDialog {
	-fx-graphic : url("icons/copy_24.png")

}
#dictionaryBtnPasteDialog {
	-fx-graphic : url("icons/paste_24.png")

}
#dictionaryBtnNewElement {
	-fx-graphic : url("icons/new.png")

}
#dictionaryBtnDeleteElement {
	-fx-graphic : url("icons/delete_24.png")

}
#dictionaryBtnCopyElement {
	-fx-graphic : url("icons/copy_24.png")

}
#dictionaryBtnPasteElement {
	-fx-graphic : url("icons/paste_24.png")

}
#dictionaryBtnTestSection {
	-fx-graphic : url("icons/test.png")

}

/*Scale pane*/
#scalePaneBtnZoomMinus {
	-fx-graphic : url("icons/zoom_minus.png")

}
#scalePaneBtnZoomPlus {
	-fx-graphic : url("icons/zoom_plus.png")

}

/*ImageViewWithScale*/
#btnInspect {
	-fx-graphic : url("icons/inspect.png")

}

/*Wizard*/
#btnRelation {
	-fx-graphic : url('icons/refresh.png')

}
#btnNextMark {
	-fx-graphic : url('icons/next.png')

}
#btnPrevMark {
	-fx-graphic : url('icons/previous.png')

}
#cbUpdate{
	-fx-graphic : url('icons/refresh.png')

}