# build intermediate and result files
buildinfo.htm
BuildProject
.gradle/
*.zip

# Java intermediate files
build
srcgen
shared
gen
bin

# CShart intermediate files
*.suo
obj

#JF files
#files contains generated .jar files
/core/apps
/core/clients
/core/services
/core/sql

logs
.settings.xml
/.log.xml
/TestProject/.log.xml
/reports

version.properties
# don't ignore everything in src
!/*/src/**/*/
# don't ignore everything in resources
!/*/resources/**/*

#temp files
.*.swp
.~*.*#

#test files
derby.log

# eclipse workspace files
.metadata
.recommenders
.settings
.classpath
.project
RemoteSystemsTempFiles
Servers

# IntelliJ IDEA files
*.iml
*.iws
.idea
out

# Visual Studio solution files
.vs

#tomcat files
apache-tomcat*
