#elcipse files
.metadata
.recommenders
.settings
.classpath
.project
RemoteSystemsTempFiles
Servers

#Java files
build
srcgen
shared
gen
bin

#CShart files
packages
*.suo
obj

#JF files
apps
clients
services
sql
logs
.log.xml
.settings.xml

#temp files
.*.swp
.~*.*#

#test files
derby.log

#IntelliJ IDEA files
*.iml
*.iws
.idea
out

#tomcat files
apache-tomcat*

#build info file
buildinfo.htm
BuildProject

core/src/com/exactprosystems/jf/common/version/version.properties
.gradle/
*.zip
/mocks/swing/mock-swing.jar
