.numberField {
    -fx-border-width: 1;
    -fx-border-color: lightgray;
    -fx-background-insets:1;
    -fx-border-radius:3 0 0 3;
    -fx-border-radius:0 0 0 0;
}
.numberSpinnerArrow {
    -fx-fill: gray;
    -fx-stroke: gray;
    -fx-effect: innershadow( gaussian , black , 2 , 0.6 , 1 , 1 )
}
.buttonsBox {
    -fx-border-color:lightgray;
    -fx-border-width: 1 1 1 0;
    -fx-border-radius: 0 3 3 0;
    -fx-border-radius: 0 0 0 0;
}
.spinnerButtonUp {
    -fx-background-insets: 0;
    -fx-background-radius:0 3 0 0;
    -fx-background-radius:0;
}
.spinnerButtonDown {
    -fx-background-insets: 0;
    -fx-background-radius:0 0 3 0;
    -fx-background-radius:0;
}