.root {
	size4 : 4px;
	size8 : 8px;
	size16 : 16px;
}

.vertical4 {
	-fx-min-height : size4;
	-fx-max-height : size4;
	-fx-pref-height : size4;
	
	-fx-min-width : 0px;
	-fx-max-width : 0px;
	-fx-pref-width : 0px;
	
	visibility : hidden;
}
.vertical8 {
	-fx-min-height : size8;
	-fx-max-height : size8;
	-fx-pref-height : size8;
	
	-fx-min-width : 0px;
	-fx-max-width : 0px;
	-fx-pref-width : 0px;
	
	visibility : hidden;
}
.vertical16 {
	-fx-min-height : size16;
	-fx-max-height : size16;
	-fx-pref-height : size16;
	
	-fx-min-width : 0px;
	-fx-max-width : 0px;
	-fx-pref-width : 0px;
	
	visibility : hidden;
}

.horizontal4 {
	-fx-min-width : size4;
	-fx-max-width : size4;
	-fx-pref-width : size4;
	
	-fx-min-height : 0px;
	-fx-max-height : 0px;
	-fx-pref-height : 0px;
	
	visibility : hidden;
}
.horizontal8 {
	-fx-min-width : size8;
	-fx-max-width : size8;
	-fx-pref-width : size8;
	
	-fx-min-height : 0px;
	-fx-max-height : 0px;
	-fx-pref-height : 0px;
	
	visibility : hidden;
}
.horizontal16 {
	-fx-min-width : size16;
	-fx-max-width : size16;
	-fx-pref-width : size16;
	
	-fx-min-height : 0px;
	-fx-max-height : 0px;
	-fx-pref-height : 0px;
	
	visibility : hidden;
}