.root {
	-fx-company-color-dark : #2A7596;
	-fx-company-color-light : #3CB6EB;

}

/*Override classes*/
.tab-close-button {
	-fx-opacity : 0;
	-fx-background-color : transparent;

}
.control-buttons-tab {
	-fx-opacity : 0.0;
	-fx-pref-width : 0px;
	-fx-max-width : 0px;
	visibility : false;

}
.tab:selected .tabLabel {
	-fx-fill : -fx-company-color-dark;

}
.progress-bar {
	-fx-box-border: black;
	-fx-accent: blue;
	-fx-indeterminate-bar-animation-time : 3
}
.button {
	-fx-background-color:
			#707070,
			linear-gradient(#fcfcfc, #f3f3f3),
			linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
		-fx-background-insets: 0,1,2;
		-fx-background-radius: 3,2,1;
		-fx-text-fill: black;
		-fx-font-size: 14px;
}
.button:hover {
	-fx-background-color:
				#707070,
				linear-gradient(#f3f3f3,#fcfcfc),
				linear-gradient(#dddddd 50%, #cfcfcf 100%, #f2f2f2 0%, #ebebeb 49%);
			-fx-background-insets: 0,1,2;
			-fx-background-radius: 3,2,1;
			-fx-text-fill: black;
			-fx-font-size: 14px;
}
.toggle-button:hover {
			-fx-background-color:
				#707070,
				linear-gradient(#f3f3f3,#fcfcfc),
				linear-gradient(#dddddd 50%, #cfcfcf 100%, #f2f2f2 0%, #ebebeb 49%);
			-fx-background-insets: 0,1,2;
			-fx-background-radius: 3,2,1;
			-fx-text-fill: black;
}
.tree-cell > .tree-disclosure-node,
.tree-table-row-cell > .tree-disclosure-node {
	-fx-padding: 4 6 4 8;
	-fx-background-color: transparent;
}
.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
	-fx-background-color: -fx-text-background-color;
	-fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
	-fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-cell:expanded > .tree-disclosure-node > .arrow,
.tree-table-row-cell:expanded > .tree-disclosure-node > .arrow {
	-fx-rotate: 90;

}
.tree-table-row-cell:selected {
	-fx-background-color: -fx-company-color-dark;
	-fx-text-fill: -fx-selection-bar-text;

}
.tree-cell {
	-fx-indent : 20;

}
.combo-box {
	-fx-border-color : rgb(255,255,255,0.2);
	-fx-border-width : 1px;
}
.list-view .list-cell:selected {
   -fx-background-color : lightgray;

}
.combo-box .list-cell {
	-fx-background-color : white;
	-fx-background-radius: 3,2,1;

}
.combo-box-popup .list-view .list-cell:hover {
	-fx-text-fill : black;
	-fx-background-color : lightgray;

}
.combo-box-popup .list-view .list-cell:selected {
	-fx-text-fill : black;

}
.node .focused .pressed {
	-fx-border-color : black;

}
.table-row-cell:odd {
    -fx-background: derive(-fx-control-inner-background,-5%);

}

/*Custom classes*/
.transparentBackground {
	-fx-background-color : transparent;

}
.delayShutter:selected {
	-fx-background-color : derive(-fx-company-color-light, 50%);
	-fx-background-insets: 0,1,2;
	-fx-background-radius: 3,2,1;
}

/*Matrix tree view*/
.customTreeTableView > .column-header-background {
	visibility: hidden;
	-fx-padding: -1em;

}

/*Custom Table*/
.correctRow {


}
.incorrectRow {
	-fx-background-color : rgb(255,0,0,0.15);

}
.textFieldVar {
	-fx-background-color : rgb(124,252,0,0.2);

}

/*Notifier*/
.notifierError {
	-fx-background-color : salmon;
	-fx-text-fill : white;

}
.notifierSuccess {
	-fx-background-color : lightgreen;

}
.notifierInfo {
	-fx-background-color : lightblue;
	-fx-text-fill : white;

}
.notifierTitle {
	-fx-font-size : 15;
	-fx-font-weight : bold;
	-fx-padding : 10;

}
.notifierMessage {
	-fx-font-size : 26;
	-fx-padding : 10;

}

.notificationBar {
	error : salmon;
	info : lightblue;
	success : lightgreen;
}
.notificationBar > .notificationPane {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-padding: 7 7 7 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 11, 0.0, 0, 3);
    -fx-background-insets: 0, 1, 2;
}
.notificationBar > .notificationPane.error {
	-fx-background-color : error;

}
.notificationBar > .notificationPane.info {
	-fx-background-color : info;

}
.notificationBar > .notificationPane.success {
	-fx-background-color : success;

}
.notificationBar > .notificationPane .notificationTitle {
    -fx-font-size: 1.166667em;
    -fx-text-fill: #292929;
    -fx-font-weight: bold;
}
.notificationBar > .notificationPane .notificationMsg {
	-fx-background-color : transparent;
    -fx-font-size: 1.166667em;
    -fx-text-fill: #292929;
    -fx-alignment: top-left;
}
.notificationBar > .notificationPane .notificationMsg.error .content{
	-fx-background-color : error;

}
.notificationBar > .notificationPane .notificationMsg.info .content{
	-fx-background-color : info;

}
.notificationBar > .notificationPane .notificationMsg.success .content{
	-fx-background-color : success;

}
.notificationBar > .notificationPane .notificationCopyButton {
	-fx-text-fill : -fx-company-color-light;

}
.notificationBar > .notificationPane .notificationCopyButton:hover {
	-fx-text-fill : -fx-company-color-dark;

}
.notificationBar > .notificationPane .notificationCopyButton:pressed {
	-fx-text-fill : derived(-fx-company-color-light, 50%)

}
.notificationBar > .notificationPane .notificationCloseButton,
.notificationBar > .notificationPane .notificationPinButton {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}
.notificationBar > .notificationPane .notificationPinButton:
.notificationBar > .notificationPane .notificationCloseButton:pressed {
    -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);
    
}
.notificationBar > .notificationPane .notificationCloseButton:hover > .graphic {
    -fx-background-color: -fx-company-color-light;

}
.notificationBar > .notificationPane .notificationCloseButton:pressed > .graphic {
    -fx-background-color: #cfcfcf;

}
.notificationBar > .notificationPane .notificationCloseButton > .graphic {
    -fx-background-color: -fx-company-color-dark;
    -fx-scale-shape: false;
    -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notificationBar > .notificationPane .notificationCloseButton > .graphic {
    -fx-shape: "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
    
}

/*Correct / Incorrect fields*/
.incorrectField {
	-fx-text-fill : red;

}
.correctField {
	-fx-text-fill : black;

}

/*XPath builder*/
.xpathTreeView .tree-cell:selected {
	-fx-background-color : lightgray;

}
.xpathFindTreeItem {
	-fx-background-color : aquamarine;

}
.foundOneElement {
	-fx-text-fill : rgb(12, 216, 39)

}
.xpathNode {
	-fx-fill : #20b2aa;

}
.xpathAttrName {
	-fx-fill : #8a2be2;

}
.xpathAttrValue {
	-fx-fill : #0000ff

}
.xpathText {
	-fx-fill : black;

}
.xpathRectangle {
	-fx-stroke : white;
	-fx-effect : innershadow(gaussian, black, 1, 1, 0,0);

}
.xpathInspectRectangle {
	-fx-stroke : black;
	-fx-effect : innershadow(gaussian, white, 1, 1, 0,0);
	-fx-stroke-dash-array : 12 6 4 6;
	-fx-stroke-width: 5;
}

/*BorderWrapper*/
.borderWrapperTitle {
	-fx-text-fill : black;

}

/*MatrixFx tab*/
.executingMatrixItem {
	-fx-background-color : -fx-company-color-light;

}
.defaultMatrixItem {
	-fx-background-color : transparent;

}
.pausedMatrixItem {
	-fx-background-color : rgb(255, 0, 0, 0.5);

}
.errorMatrixItem {
	-fx-background-color : red;

}

.executingTab {
	-fx-background-color : derived(-fx-company-color-dark, 90%);

}
.finishedTab {
	-fx-background-color : lightgreen;

}

.matrixFinishedOk {
	-fx-background-color : derived(#4A6E3A, 90%);

}
.matrixFinishedBad {
	-fx-background-color : derived(red, 90%);

}
.simpleItem {
	-fx-border-color : lightgray;
	-fx-border-width : 1 0 1 0;
}
.trueOffItem {
	-fx-background-color : darkgray;

}
.falseOffItem {
	-fx-background-color : transparent;

}

.boldLabel {
	-fx-font-weight : bold;

}
.obliqueLabel {
	-fx-font-style : oblique;

}
.borderLabel {
	-fx-border-color : red;
	-fx-border-size : 2px;

}
/*Matrix comment*/
.unfocusedTextArea {
	-fx-border-color : transparent;
	-fx-background-color : transparent;
	-fx-border-width : null;

}

/*Console Text*/
.consoleDefaultText {
	-fx-fill : -fx-text-base-color;

}
.consolePausedItem {
	-fx-fill : -fx-company-color-light;

}
.consoleErrorItem {
	-fx-fill : red;

}

/*Sql test*/
.sqlConnectionValid {
	-fx-text-fill : green

}
.sqlConnectionInvalid {
	-fx-text-fill : red;

}

/*Helper*/
.compileFailed {
	-fx-text-fill : red;

}
.evaluateFailed {
	-fx-text-fill : black;

}
.evaluateSuccess {
	-fx-text-fill : green;

}
.expectedClass {
	-fx-background-color : lightgreen;

}

/*Store*/
.notChangeableRow {
	-fx-background-color : rgb(128, 128, 128, 0.3);

}

/*ParametersPane*/
.customScrollPane {
	-fx-background-color: transparent;
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 0;

}
.customScrollPane .scroll-bar:horizontal .increment-button,
.customScrollPane .scroll-bar:horizontal .decrement-button {
	-fx-opacity : 0;
	-fx-pref-width : 0px;

}
.customScrollPane .scroll-bar:horizontal .track {
	-fx-opacity : 0;
	-fx-pref-width : 20px;
}
.customScrollPane .scroll-bar:horizontal .thumb {
	-fx-background-color : -fx-company-color-light;

}

.focusedField {
	-fx-border-color : black;
	-fx-border-size  : 5px;
	-fx-background-color : -fx-company-color-light;

}
.unfocusedGrid {
	-fx-border-color : transparent;
	-fx-background-color : transparent;

}
.invisibleField {
	-fx-background-color : transparent;
	-fx-border-color : transparent;

}
.focusedEmptyGrid {
	-fx-background-color : gold;

}
.emptyGrid {
	-fx-border-color : grey;
	-fx-border-size : 2px;

}

/*Alerts*/
.alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
	-fx-graphic: null;

}
.alert.information.dialog-pane {
	-fx-graphic: url("dialog-information.png");

}
.alert.error.dialog-pane {
	-fx-graphic: url("dialog-error.png");

}
.alert.warning.dialog-pane {
	-fx-graphic: url("dialog-warning.png");

}

/*Resizable region*/
.resizableRegion {
	-fx-border-width : 0 0 2 0;
	-fx-border-color : -fx-company-color-dark;

}
.resizableRegionHover {
	-fx-border-color : -fx-company-color-light;

}

/*Spread sheet*/
.cell-spreadsheet .table-row-cell {
	-fx-background-color: transparent;

}
.spreadsheet-cell:filled:selected,
.spreadsheet-cell:filled:focused:selected,
.spreadsheet-cell:filled:focused:selected:hover {
	-fx-background-color: -fx-company-color-light;
	-fx-border-color: #a9a9a9;
	-fx-border-width : 0.5px;
	-fx-text-fill: -fx-selection-bar-text;

}
.spreadsheet-cell:hover,
.spreadsheet-cell:filled:focused {
	-fx-background-color: -fx-company-color-dark;
	-fx-text-fill: white;
	-fx-background-insets: 0, 0 0 1 0;
}
.spreadsheet-cell{
	-fx-padding: 0 0 0 0.2em;
	-fx-border-color: black;
	-fx-border-width : 0.3px;
	-fx-background-color: -fx-table-cell-border-color,white;
}
VerticalHeader > Label {
	-fx-background-color: -fx-box-border, -fx-inner-border,  linear-gradient(to left, derive(-fx-color,-5%) ,derive(-fx-color,5%));
	-fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
	-fx-font-weight: bold;
	-fx-size: 2em;
	-fx-text-fill: -fx-selection-bar-text;
	-fx-alignment: center;
	-fx-font-style : normal;
}
VerticalHeader > Label.selected{
	-fx-background-color: -fx-company-color-light, -fx-company-color-light,  linear-gradient(to right, derive(-fx-company-color-light,-10%) ,derive(-fx-company-color-light,10%));
	-fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
	-fx-font-weight: bold;
	-fx-size: 2em;
	-fx-text-fill: -fx-selection-bar-text;
	-fx-alignment: center;
	-fx-border-color : black;
}
HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected{
	-fx-background-color: -fx-company-color-light, -fx-company-color-light,  linear-gradient(to bottom, derive(-fx-company-color-light,-10%) ,derive(-fx-company-color-light,10%));
	-fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
	-fx-font-weight: bold;
	-fx-size: 2em;
	-fx-text-fill: -fx-selection-bar-text;
	-fx-alignment: center;
	-fx-border-color : black;
}
.column-header-background.invisible { visibility: hidden; -fx-padding: -1em; }
CellView > .text-input.text-field{
	-fx-padding : 0 0 0 -0.2em;
	-fx-background-color: transparent;
}
.selection-rectangle{
	-fx-fill : transparent;
	-fx-stroke : black;
	-fx-stroke-width : 2;
}
.startCell {
	-fx-background-image : url("dialog-fewer-details.png");
	-fx-background-position : center center;
	-fx-background-repeat : no-repeat no-repeat;
	-fx-background-size : 12px;
}

/*Supported/Unsupported entries*/
.supportedEntry {
	-fx-text-fill : -fx-company-color-light;

}
.unsupportedEntry {
	-fx-text-fill : red;

}

/*Custom Text Fields*/
.custom-text-field {
	-fx-highlight-fill: derive(-fx-control-inner-background,-20%);
	-fx-highlight-text-fill: -fx-text-inner-color;
	-fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
	-fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
	-fx-background-insets: 0, 1;
	-fx-background-radius: 3, 2;
}
.custom-text-field:right-node-visible {
	-fx-padding: 0.333333em 0 0.333333em 0.583em;

}
.custom-text-field:right-node-visible .customFieldRightPane {
	-fx-padding: 0 3 0 3;

}
.custom-text-field:focused,
.custom-text-field:text-field-has-focus {
	-fx-highlight-fill: -fx-accent;
	-fx-highlight-text-fill: white;
	-fx-background-color:
		-fx-focus-color,
		-fx-control-inner-background,
		-fx-faint-focus-color,
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
	-fx-background-insets: -0.2, 1, -1.4, 3;
	-fx-background-radius: 3, 2, 4, 0;
	-fx-prompt-text-fill: transparent;
}

.customFieldWithButton .customFieldPane {
	-fx-padding: 0 3 0 0;

}
.customFieldWithButton .customFieldPane > .customFieldButton {
	-fx-text-fill : #2A7596;

}
.customFieldWithButton .customFieldPane:hover > .customFieldButton {
	-fx-text-fill : #3CB6EB;

}

/*Custom Area Fields*/
.custom-area-field {
	-fx-highlight-fill: derive(-fx-control-inner-background,-20%);
	-fx-highlight-text-fill: -fx-text-inner-color;
	-fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
	-fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
	-fx-background-insets: 0, 1;
	-fx-background-radius: 3, 2;
}
.custom-area-field:right-node-visible {
	/*-fx-padding: 0.333333em 0 0.333333em 0.583em;*/

}
.custom-area-field:right-node-visible .customAreaRightPane {
	-fx-padding: 0 3 0 3;

}
.custom-area-field:focused,
.custom-area-field:text-field-has-focus {
	-fx-highlight-fill: -fx-accent;
	-fx-highlight-text-fill: white;
	-fx-background-color:
		-fx-focus-color,
		-fx-control-inner-background,
		-fx-faint-focus-color,
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
	-fx-background-insets: -0.2, 1, -1.4, 3;
	-fx-background-radius: 3, 2, 4, 0;
	-fx-prompt-text-fill: transparent;
}

.customAreaWithButton .customAreaPane {
	-fx-padding: 0 3 0 0;

}
.customAreaWithButton .customAreaPane > .customAreaButton {
	-fx-text-fill : #2A7596;

}
.customAreaWithButton .customAreaPane:hover > .customAreaButton {
	-fx-text-fill : #3CB6EB;

}

/*Expression Editor*/
.expressionEditor {
	-fx-padding: 0 3 0 0;

}
.expressionEditor .firstPane > .expressionButton,
.expressionEditor .secondPane > .expressionButton {
	-fx-text-fill : #2A7596;

}
.expressionEditor .firstPane:hover > .expressionButton,
.expressionEditor .secondPane:hover > .expressionButton {
	-fx-text-fill : #3CB6EB;

}

/*Layout builder*/
.selfControl {
	-fx-stroke : white;
	-fx-effect : innershadow(gaussian, black, 1, 1, 0,0);

}
.otherControl {
	-fx-stroke : black;
	-fx-effect : innershadow(gaussian, white, 1, 1, 0,0);

}
.selfControlSelectedLine {
	-fx-stroke : -fx-company-color-light;

}
.otherControlSelectedLine {
	-fx-stroke : -fx-company-color-light;

}
.formulaToggleButton {
	-fx-font : 13 arial;
	-fx-text-alignment:left
}

/*FindPanel*/
.findPanel {
	-fx-background-color : #d3d3d3;

}
.splitPaneHideDivider *.split-pane-divider {
	-fx-padding: 0;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-shape: " ";
}

.notEditableField {
	-fx-opacity: 0.4

}

.browser {
	-fx-padding : 2px;
	-fx-border-width : 2 0 2 0;
	-fx-border-color : black;
}

.auto-complete-popup > .list-view {
	-fx-background-color:
		linear-gradient(to bottom,
			derive(-fx-color,-17%),
			derive(-fx-color,-30%)
		),
		-fx-control-inner-background;
	-fx-background-insets: -1 -2 -1 -1, 0 -1 0 0;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}
.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
	-fx-padding: 4 0 4 5;
	/* No alternate highlighting */
	-fx-background: -fx-control-inner-background;
}
.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
	-fx-background:  -fx-selection-bar-non-focused;
	-fx-background-color:  -fx-background;
}
.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
	-fx-background: -fx-accent;
	-fx-background-color: -fx-selection-bar;
}
.auto-complete-popup > .list-view > .placeholder > .label {
	-fx-text-fill: derive(-fx-control-inner-background,-30%);
}