/*Spacer*/
.root {
	sizeMin : 4px;
	sizeMid : 8px;
	sizeMax : 16px;

	icons : "icons"
}

#verticalMin {
	-fx-min-height : sizeMin;
	-fx-max-height : sizeMin;
	-fx-pref-height : sizeMin;

	-fx-min-width : 0px;
	-fx-max-width : 0px;
	-fx-pref-width : 0px;

	visibility : hidden;
}
#verticalMid {
	-fx-min-height : sizeMid;
	-fx-max-height : sizeMid;
	-fx-pref-height : sizeMid;

	-fx-min-width : 0px;
	-fx-max-width : 0px;
	-fx-pref-width : 0px;

	visibility : hidden;
}
#verticalMax {
	-fx-min-height : sizeMax;
	-fx-max-height : sizeMax;
	-fx-pref-height : sizeMax;

	-fx-min-width : 0px;
	-fx-max-width : 0px;
	-fx-pref-width : 0px;

	visibility : hidden;
}

#horizontalMin {
	-fx-min-width : sizeMin;
	-fx-max-width : sizeMin;
	-fx-pref-width : sizeMin;

	-fx-min-height : 0px;
	-fx-max-height : 0px;
	-fx-pref-height : 0px;

	visibility : hidden;
}
#horizontalMid {
	-fx-min-width : sizeMid;
	-fx-max-width : sizeMid;
	-fx-pref-width : sizeMid;

	-fx-min-height : 0px;
	-fx-max-height : 0px;
	-fx-pref-height : 0px;

	visibility : hidden;
}
#horizontalMax {
	-fx-min-width : sizeMax;
	-fx-max-width : sizeMax;
	-fx-pref-width : sizeMax;

	-fx-min-height : 0px;
	-fx-max-height : 0px;
	-fx-pref-height : 0px;

	visibility : hidden;
}

.hgapMin {
	-fx-hgap : sizeMin;

}
.hgapMid {
	-fx-hgap : sizeMid;

}
.hgapMax {
	-fx-hgap : sizeMax;

}

.vgapMin {
	-fx-vgap : sizeMin;

}
.vgapMid {
	-fx-vgap : sizeMid;

}
.vgapMax {
	-fx-vgap : sizeMax;

}

.dialog-pane > .button-bar > .container {
	-fx-spacing : sizeMax;

}

/*Number spinner*/
.numberField {
    -fx-border-width: 1;
    -fx-border-color: lightgray;
    -fx-background-insets:1;
    -fx-border-radius:3 0 0 3;
    -fx-border-radius:0 0 0 0;
}
.numberSpinnerArrow {
    -fx-fill: gray;
    -fx-stroke: gray;
    -fx-effect: innershadow( gaussian , black , 2 , 0.6 , 1 , 1 )
}
.buttonsBox {
    -fx-border-color:lightgray;
    -fx-border-width: 1 1 1 0;
    -fx-border-radius: 0 3 3 0;
    -fx-border-radius: 0 0 0 0;
}
.spinnerButtonUp {
    -fx-background-insets: 0;
    -fx-background-radius:0 3 0 0;
    -fx-background-radius:0;
}
.spinnerButtonDown {
    -fx-background-insets: 0;
    -fx-background-radius:0 0 3 0;
    -fx-background-radius:0;
}

/*Preloader*/
#preloaderPane {
	-fx-background-image : url('icons/preloaderBackground.png');
	-fx-border-radius : 4px;
}
#exLogo {
	-fx-image : url('icons/ex_logo.png')

}
#jfLogo {
	-fx-image : url('icons/jf_logo.png')

}
#textLogo {
	-fx-font : 10px Arial;
	-fx-fill : #FFFFFF;
}
.preloaderProgressBar > .bar {
	-fx-background-color: linear-gradient(
		from 0px .75em to .75em 0px,
		repeat,
		#337e9f 0%,
		#337e9f 49%,
		derive(#337e9f, 30%) 50%,
		derive(#337e9f, 30%) 99%
	);
	-fx-padding: 0px;
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0;
}

/*Custom classes*/

/*Dialog wizard*/
#cbMark {
	-fx-graphic : url('icons/check.png')

}
#cbAdd {
	-fx-graphic : url('icons/add_16.png')

}
#cbQuestion{
	-fx-graphic : url('icons/question_mark.png')

}
#cbUpdate{
	-fx-graphic : url('icons/refresh.png')

}
#cbRemoved {
	-fx-graphic : url('icons/delete_16.png')

}
#btnEdit {
	-fx-graphic : url('icons/edit_16.png')

}
#btnRemove {
	-fx-graphic : url('icons/delete_16.png')

}
#btnRelation {
	-fx-graphic : url('icons/refresh.png')

}
#btnWizard {
	-fx-graphic : url('icons/wizard.png')

}
#btnNextMark {
	-fx-graphic : url('icons/next.png')

}
#btnPrevMark {
	-fx-graphic : url('icons/previous.png')

}
.customTableRow:customSelectedState {
	-fx-border-width : 1px 0 1px 0;

}

/*Actions controller*/
.imageArea {
	-fx-background-image : url("icons/texture.png");
	-fx-background-repeat : repeat;
}

/*Notifier*/
.notificationBar {
	error : #f2dede;
	info : #d9edf7;
	success : #dff0d8;

	errorText : #b84442;
	infoText : #31708f;
	successText : #3c763d;

	errorBorder : #ebccd1;
	infoBorder : #bce8f1;
	successBorder : #d6e9c6;
}
.notificationBar > .notificationPane {
	-fx-border-width : 3px;
    -fx-padding: 7 7 7 7;

    -fx-background-insets: 0, 1, 2;
}

.notificationBar > .notificationPane.error {
	-fx-background-color : error;
	-fx-border-color : errorBorder;

}
.notificationBar > .notificationPane.info {
	-fx-background-color : info;
	-fx-border-color : infoBorder;

}
.notificationBar > .notificationPane.success {
	-fx-background-color : success;
	-fx-border-color : successBorder;

}

.notificationBar > .notificationPane .notificationTitle {
    -fx-font-size: 1.166667em;
    -fx-font-weight: bold;
}
.notificationBar > .notificationPane.error .notificationTitle {
	-fx-text-fill : errorText;

}
.notificationBar > .notificationPane.info .notificationTitle {
	-fx-text-fill : infoText;

}
.notificationBar > .notificationPane.success .notificationTitle {
	-fx-text-fill : successText;

}

.notificationBar > .notificationPane .notificationMsg {
	-fx-background-color : transparent;
    -fx-font-size: 1.166667em;
    -fx-alignment: top-left;
}
.notificationBar > .notificationPane.error .notificationMsg {
	-fx-text-fill: errorText;

}
.notificationBar > .notificationPane.info .notificationMsg {
	-fx-text-fill: infoText;

}
.notificationBar > .notificationPane.success .notificationMsg {
	-fx-text-fill: successText;

}

.notificationBar > .notificationPane .notificationMsg.error .content{
	-fx-background-color : errorText;

}
.notificationBar > .notificationPane .notificationMsg.info .content{
	-fx-background-color : infoText;

}
.notificationBar > .notificationPane .notificationMsg.success .content{
	-fx-background-color : successText;

}

.notificationBar > .notificationPane.error .notificationCopyButton {
	-fx-text-fill : errorText;

}
.notificationBar > .notificationPane.info .notificationCopyButton {
	-fx-text-fill : infoText;

}
.notificationBar > .notificationPane.success .notificationCopyButton {
	-fx-text-fill : successText;

}

.notificationBar > .notificationPane .notificationCopyButton:hover {
	-fx-text-fill : -fx-company-color-dark;

}
.notificationBar > .notificationPane .notificationCopyButton:pressed {
	-fx-text-fill : derived(-fx-company-color-light, 50%)

}

.notificationBar > .notificationPane .notificationCloseButton,
.notificationBar > .notificationPane .notificationPinButton {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}
.notificationBar > .notificationPane .notificationPinButton:
.notificationBar > .notificationPane .notificationCloseButton:pressed {
    -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);

}
.notificationBar > .notificationPane .notificationCloseButton:hover > .graphic {
    -fx-background-color: -fx-company-color-light;

}
.notificationBar > .notificationPane .notificationCloseButton:pressed > .graphic {
    -fx-background-color: #cfcfcf;

}
.notificationBar > .notificationPane .notificationCloseButton > .graphic {
    -fx-background-color: -fx-company-color-dark;
    -fx-scale-shape: false;
    -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
    -fx-shape: "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";

}
.notificationBar > .notificationPane.error .notificationCloseButton > .graphic {
	-fx-background-color: errorText;

}
.notificationBar > .notificationPane.info .notificationCloseButton > .graphic {
	-fx-background-color: infoText;

}
.notificationBar > .notificationPane.success .notificationCloseButton > .graphic {
	-fx-background-color: successText;

}

/*Matrix Tab*/
.emptyGrid {
	-fx-border-color : #cacaca;
	-fx-border-size : 1px;
	-fx-border-radius : 4px;
	-fx-background-color : #ffffff;
}

.emptyHeaderColumn > .column-header-background {
	visibility: hidden;
	-fx-padding: -1em;
}
.customTreeTableView .tree-table-row-cell:customSelectedState {
	-fx-border-size : 1px;
	-fx-border-radius : 4px;
}

.customScrollPane {
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 0;

}
.customScrollPane .scroll-bar:horizontal {
	-fx-min-height : sizeMid;
	-fx-pref-height :sizeMid;
	-fx-max-height : sizeMid;
	-fx-background-radius : 4px;
	-fx-border-radius : 4px;

}
.customScrollPane .scroll-bar:horizontal .increment-button,
.customScrollPane .scroll-bar:horizontal .decrement-button {
	-fx-opacity : 0;
	-fx-pref-width : 0px;

}
.customScrollPane .scroll-bar:horizontal .thumb {
	-fx-background-insets : 0,0,0,0;
	-fx-background-radius : 4px;
	-fx-border-radius : 4px;
	-fx-border-size : 1px;
	-fx-border-color : #cacaca;
	-fx-background-color : #cacaca;
}

.commentsArea {
	-fx-border-radius : 4px;

}

.parametersPane > * > .text-field {
	-fx-background-radius : 0;

}
.parametersPane > * > .text-field:focused {
	-fx-background-color :
		linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
		linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
}
.focusedParameterGridPane {
	-fx-border-size  : 1px;

}
.invisibleField {
	-fx-background-color : transparent;
	-fx-border-color : transparent;
}

