<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2009-2018 Exactpro (Exactpro Systems Limited)
  ~ 
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~ 
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~ 
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<configuration>
    <time>HH:mm:ss.SSS</time>
    <date>dd.MM.yyyy</date>
    <dateTime>dd.MM.yyyy HH:mm:ss.SSS</dateTime>
    <formats>dd.MM.yyyy HH:mm:ss</formats>
    <formats>yyyy/MM/dd HH:mm:ss.SSS</formats>
    <formats>yyyyMMdd-HH:mm:ss.SSS</formats>
    <formats>dd/MM/yyyy</formats>
    <formats>HH.mm</formats>
    <formats>HH:mm:ss</formats>
    <formats>HH:mm:ss Z</formats>
    <formats>HH:mm:ss:SSS</formats>
    <formats>yyyyMMdd-HH:mm:ss</formats>
    <reports>reports</reports>
    <version>1.2.3.4</version>
    <import>java.math</import>
    <import>java.util.regex</import>
    <import>java.util</import>
    <import>java.awt</import>
    <import>java.awt.event</import>
    <import>java.util.List</import>
    <import>java.util.Map</import>
    <import>java.lang</import>
    <import>java.io</import>
    <import>org.mvel2</import>
    <import>com.exactprosystems.jf.documents.matrix.parser</import>
    <vars>${JF}/vars.ini</vars>
    <userVars>personal.ini</userVars>
    <userVars>uservars/rf.ini</userVars>
    <userVars>uservars/nodal.ini</userVars>
    <userVars>uservars/myvars.ini</userVars>
    <matrix>${JF}/matrices</matrix>
    <appDict>dic/gui</appDict>
    <clientDict>dic/clients</clientDict>
    <library>${JF}/libjf</library>
    <globalHandler enable="false">
        <onTestCaseStart>LIB.TCStart</onTestCaseStart>
        <onTestCaseFinish>LIB.TCFinish</onTestCaseFinish>
        <onTestCaseError>LIB.TCError</onTestCaseError>
        <onStepStart>LIB.SStart</onStepStart>
        <onStepFinish>LIB.SFinish</onStepFinish>
        <onStepError></onStepError>
    </globalHandler>
    <sqlEntry>
        <name>MySql</name>
        <sqlJar>${JF}/sql/mysql-connector-java-8.0.11.jar</sqlJar>
        <sqlConnection>jdbc:mysql://${SERVER}/${BASE}?generateSimpleParameterMetadata=true&amp;useSSL=false&amp;serverTimezone=UTC</sqlConnection>
    </sqlEntry>
    <sqlEntry>
        <name>MsSql</name>
        <sqlJar>${JF}/sql/mssql-jdbc-6.1.0.jre8.jar</sqlJar>
        <sqlConnection>jdbc:sqlserver://${SERVER}\SQLEXPRESS;databaseName=${BASE};</sqlConnection>
    </sqlEntry>
    <clientEntry>
        <name>DTS</name>
        <clientJar>${JF}/clients/dts.jar</clientJar>
        <clientLimit>0</clientLimit>
        <clientDictionary>dic/clients/dts.xml</clientDictionary>
    </clientEntry>
    <clientEntry>
        <name>FIX</name>
        <parameters>
            <key>UseHeartBeats</key>
            <value>false</value>
        </parameters>
        <parameters>
            <key>HeartBeatTimeout</key>
            <value>2000</value>
        </parameters>
        <parameters>
            <key>MillisecondsInUTC</key>
            <value>true</value>
        </parameters>
        <parameters>
            <key>BeginString</key>
            <value>FIXT.1.1</value>
        </parameters>
        <clientJar>${JF}/clients/fix.jar</clientJar>
        <clientLimit>0</clientLimit>
        <clientDictionary>dic/clients/FIX50.xml</clientDictionary>
    </clientEntry>
    <clientEntry>
        <name>SF</name>
        <parameters>
            <key>sfWorkplace</key>
            <value>${JF}/../../sfworkspase</value>
        </parameters>
        <parameters>
            <key>sfSettings</key>
            <value>fix_client.xml</value>
        </parameters>
        <clientJar>${JF}/clients/sfclient.jar</clientJar>
        <clientLimit>0</clientLimit>
        <clientDictionary>dic/clients/FIX50.xml</clientDictionary>
    </clientEntry>
    <clientEntry>
        <name>TestClient</name>
        <clientDescription>Test dts client</clientDescription>
        <clientJar>${JF}/clients/fix.jar</clientJar>
        <clientLimit>0</clientLimit>
        <clientDictionary>dic/clients/FIX50.xml</clientDictionary>
    </clientEntry>
    <serviceEntry>
        <name>SF</name>
        <serviceDescription>Saifish service.</serviceDescription>
        <serviceJar>${JF}/services/sf.jar</serviceJar>
    </serviceEntry>
    <serviceEntry>
        <name>TEST</name>
        <serviceDescription>It is a matrix run service</serviceDescription>
        <serviceJar>services/test.jar</serviceJar>
    </serviceEntry>
    <serviceEntry>
        <name>TestService</name>
        <serviceDescription>Test service</serviceDescription>
        <serviceJar>${JF}/services/test.jar</serviceJar>
    </serviceEntry>
    <appEntry>
        <name>WEB</name>
        <parameters>
            <key>ChromeDriverPath</key>
            <value>unix/chromedriver-linux-2.37-x64.</value>
        </parameters>
        <parameters>
            <key>IEDriverPath</key>
            <value></value>
        </parameters>
        <parameters>
            <key>ChromeDriverBinary</key>
            <value></value>
        </parameters>
        <parameters>
            <key>jreExec</key>
            <value></value>
        </parameters>
        <parameters>
            <key>jreArgs</key>
            <value>-Xms128m -Xmx1G</value>
        </parameters>
        <parameters>
            <key>SafariDriverPath</key>
            <value></value>
        </parameters>
        <parameters>
            <key>FirefoxProfileDirectory</key>
            <value></value>
        </parameters>
        <parameters>
            <key>UsePrivateMode</key>
            <value></value>
        </parameters>
        <parameters>
            <key>GeckoDriverPath</key>
            <value>unix/geckodriver-linux-0.19.1-x64.</value>
        </parameters>
        <parameters>
            <key>LogLevel</key>
            <value>ALL</value>
        </parameters>
        <parameters>
            <key>NewSearch</key>
            <value>true</value>
        </parameters>
        <appDescription>Web applications</appDescription>
        <appDicPath>dic/gui/LayoutTesting.xml</appDicPath>
        <appJar>${JF}/apps/web.jar</appJar>
        <appWorkDir>${JF}/apps</appWorkDir>
        <appStartPort>7000</appStartPort>
    </appEntry>
    <appEntry>
        <name>WEB_WIN</name>
        <parameters>
            <key>ChromeDriverPath</key>
            <value>win/chromedriver-win-2.37-x86.exe</value>
        </parameters>
        <parameters>
            <key>IEDriverPath</key>
            <value></value>
        </parameters>
        <parameters>
            <key>ChromeDriverBinary</key>
            <value></value>
        </parameters>
        <parameters>
            <key>jreExec</key>
            <value></value>
        </parameters>
        <parameters>
            <key>jreArgs</key>
            <value>-Xms128m -Xmx1G</value>
        </parameters>
        <parameters>
            <key>SafariDriverPath</key>
            <value></value>
        </parameters>
        <parameters>
            <key>FirefoxProfileDirectory</key>
            <value></value>
        </parameters>
        <parameters>
            <key>UsePrivateMode</key>
            <value></value>
        </parameters>
        <parameters>
            <key>GeckoDriverPath</key>
            <value>win/geckodriver-linux-0.19.1-x64.exe</value>
        </parameters>
        <parameters>
            <key>LogLevel</key>
            <value>ERROR</value>
        </parameters>
        <appDescription>Web applications</appDescription>
        <appDicPath>dic/gui/LayoutTesting.xml</appDicPath>
        <appJar>${JF}/apps/web.jar</appJar>
        <appWorkDir>${JF}/apps</appWorkDir>
        <appStartPort>7000</appStartPort>
    </appEntry>
    <appEntry>
        <name>WEB_MOCK</name>
        <parameters>
            <key>ChromeDriverPath</key>
            <value>unix/chromedriver-linux-2.37-x64.</value>
        </parameters>
        <parameters>
            <key>IEDriverPath</key>
            <value></value>
        </parameters>
        <parameters>
            <key>ChromeDriverBinary</key>
            <value></value>
        </parameters>
        <parameters>
            <key>jreExec</key>
            <value></value>
        </parameters>
        <parameters>
            <key>jreArgs</key>
            <value>-Xms128m -Xmx1G</value>
        </parameters>
        <parameters>
            <key>SafariDriverPath</key>
            <value></value>
        </parameters>
        <parameters>
            <key>FirefoxProfileDirectory</key>
            <value></value>
        </parameters>
        <parameters>
            <key>UsePrivateMode</key>
            <value></value>
        </parameters>
        <parameters>
            <key>GeckoDriverPath</key>
            <value>unix/geckodriver-linux-0.19.1-x64.</value>
        </parameters>
        <parameters>
            <key>LogLevel</key>
            <value>ALL</value>
        </parameters>
        <parameters>
            <key>NewSearch</key>
            <value>true</value>
        </parameters>
        <appDescription>Web applications</appDescription>
        <appDicPath>dic/gui/mock_web_dic.xml</appDicPath>
        <appJar>${JF}/apps/web.jar</appJar>
        <appWorkDir>${JF}/apps</appWorkDir>
        <appStartPort>7000</appStartPort>
    </appEntry>
    <appEntry>
        <name>win</name>
        <parameters>
            <key>jreExec</key>
            <value></value>
        </parameters>
        <parameters>
            <key>jreArgs</key>
            <value></value>
        </parameters>
        <parameters>
            <key>MaxTimeout</key>
            <value></value>
        </parameters>
        <parameters>
            <key>LogLevel</key>
            <value>ALL</value>
        </parameters>
        <appDicPath>dic/gui/LayoutHtmlTesting.xml</appDicPath>
        <appJar>${JF}/apps/win.jar</appJar>
        <appWorkDir>${JF}/apps/</appWorkDir>
        <appStartPort>12000</appStartPort>
    </appEntry>
    <appEntry>
        <name>SWING</name>
        <parameters>
            <key>jreExec</key>
            <value></value>
        </parameters>
        <parameters>
            <key>jreArgs</key>
            <value></value>
        </parameters>
        <parameters>
            <key>LogLevel</key>
            <value>ERROR</value>
        </parameters>
        <appDescription>Swing applications</appDescription>
        <appDicPath>dic/gui/mock_swing_dic.xml</appDicPath>
        <appJar>${JF}/apps/swing.jar</appJar>
        <appWorkDir>${JF}/apps</appWorkDir>
        <appStartPort>7000</appStartPort>
    </appEntry>
    <appEntry>
        <name>JAVAFX</name>
        <parameters>
            <key>jreExec</key>
            <value></value>
        </parameters>
        <parameters>
            <key>jreArgs</key>
            <value></value>
        </parameters>
        <parameters>
            <key>LogLevel</key>
            <value></value>
        </parameters>
        <parameters>
            <key>TrimText</key>
            <value></value>
        </parameters>
        <appDicPath>dic/gui/mock_javafx_dic.xml</appDicPath>
        <appJar>${JF}/apps/javafx.jar</appJar>
        <appWorkDir>${JF}/apps</appWorkDir>
        <appStartPort>7000</appStartPort>
    </appEntry>
</configuration>
