<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <time>HH:mm:ss.SSS</time>
    <date>dd.MM.yyyy</date>
    <dateTime>dd.MM.yyyy HH:mm:ss.SSS</dateTime>
    <formats>dd.MM.yyyy HH:mm:ss</formats>
    <formats>yyyy/MM/dd HH:mm:ss.SSS</formats>
    <formats>yyyyMMdd-HH:mm:ss.SSS</formats>
    <formats>dd/MM/yyyy</formats>
    <formats>HH.mm</formats>
    <formats>HH:mm:ss</formats>
    <formats>HH:mm:ss Z</formats>
    <formats>HH:mm:ss:SSS</formats>
    <reports>reports</reports>
    <git></git>
    <import>com.exactprosystems.jf.common.parser</import>
    <import>java.math</import>
    <import>java.util.regex</import>
    <import>java.util</import>
    <import>java.awt</import>
    <import>java.awt.event</import>
    <import>java.util.List</import>
    <import>java.util.Map</import>
    <import>java.lang</import>
    <import>com.exactprosystems.jf.api.app</import>
    <import>com.exactprosystems.jf.api.conditions</import>
    <import>com.exactprosystems.jf.functions</import>
    <import>java.io</import>
    <import>org.mvel2</import>
    <import>com.exactprosystems.jf.api.client</import>
    <import>com.exactprosystems.jf.api.error</import>
    <vars>vars.ini</vars>
    <matrix>examples</matrix>
    <matrix>matrices</matrix>
    <appDict>dic/gui</appDict>
    <clientDict>dic/clients</clientDict>
    <library>libjf</library>
    <sqlEntry>
        <name>MySql</name>
        <sqlJar>${JF}/sql/mysql-connector-java-5.1.26.jar</sqlJar>
        <sqlConnection>jdbc:mysql://${SERVER}/${BASE}?generateSimpleParameterMetadata=true</sqlConnection>
    </sqlEntry>
    <clientEntry>
        <name>DTS</name>
        <clientJar>${JF}/clients/dts.jar</clientJar>
        <clientLimit>0</clientLimit>
        <clientDictionary>dic/clients/dts.xml</clientDictionary>
    </clientEntry>
    <clientEntry>
        <name>FIX</name>
        <parameters>
            <key>UseHeartBeats</key>
            <value>false</value>
        </parameters>
        <parameters>
            <key>HeartBeatTimeout</key>
            <value>2000</value>
        </parameters>
        <clientJar>${JF}/clients/fix.jar</clientJar>
        <clientLimit>0</clientLimit>
        <clientDictionary>dic/clients/FIX50.xml</clientDictionary>
    </clientEntry>
    <serviceEntry>
        <name>SF</name>
        <serviceDescription>Saifish service.</serviceDescription>
        <serviceJar>${JF}/services/sf.jar</serviceJar>
    </serviceEntry>
    <serviceEntry>
        <name>TEST</name>
        <serviceDescription>It is a matrix run service</serviceDescription>
        <serviceJar>services/test.jar</serviceJar>
    </serviceEntry>
    <appEntry>
        <name>WEB</name>
        <parameters>
            <key>ChromeDriverPath</key>
            <value>unix/chromedriver-linux-2.25-x64.</value>
        </parameters>
        <parameters>
            <key>IEDriverPath</key>
            <value></value>
        </parameters>
        <parameters>
            <key>ChromeDriverBinary</key>
            <value></value>
        </parameters>
        <parameters>
            <key>jreExec</key>
            <value></value>
        </parameters>
        <parameters>
            <key>jreArgs</key>
            <value></value>
        </parameters>
        <parameters>
            <key>SafariDriverPath</key>
            <value></value>
        </parameters>
        <parameters>
            <key>FirefoxProfileDirectory</key>
            <value></value>
        </parameters>
        <parameters>
            <key>UsePrivateMode</key>
            <value></value>
        </parameters>
        <parameters>
            <key>GeckoDriverPath</key>
            <value>unix/geckodriver-linux-0.11.1-x64.</value>
        </parameters>
        <appDescription>Web applications</appDescription>
        <appDicPath>dic/gui/LayoutTesting.xml</appDicPath>
        <appJar>${JF}/apps/web.jar</appJar>
        <appWorkDir>${JF}/apps</appWorkDir>
        <appStartPort>7000</appStartPort>
    </appEntry>
</configuration>
