.root {
    small-height    : 25;
    standard-height : 50;
    large-height    : 75;
    standard-width  : 100;
    large-width     : 250;
}

#centralLabel {
    -fx-pref-width  : 225;
    -fx-pref-height : small-height;
}

#scrollBar {
    -fx-pref-width  : standard-width;
    -fx-pref-height : small-height;
}

.button,
.toggle-button,
.text-field,
.pane,
.progress-bar,
.spinner,
.combo-box,
.radio-button,
.check-box {
    -fx-pref-width  : standard-width;
    -fx-pref-height : small-height;
}

.table-view {
    -fx-pref-width  : large-width;
    -fx-pref-height : large-height;
}

.tree-view {
    -fx-pref-width  : standard-width;
    -fx-pref-height : large-height;
}

.tab-pane {
    -fx-pref-width  : large-width;
    -fx-pref-height : standard-height;
}

.image-view {
    -fx-image: url(../../../../../../core/resources/com/exactprosystems/jf/tool/css/general/icons/ide.png);
}

.pane {
    -fx-background-color: #8fbc8f;
}